/*Login*/
.login-container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    height: 620px;
    background: url(../../imgs/login-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 2px;
}

/*see if you need to delete it*/
.login-container .text-content{
    position: absolute;
    top: 0;
    left: 0; 
    width: 58%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.login-container .logreg-box{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    overflow: hidden;
}

.text-sci{
    position: relative;
    width: 45%;
    margin: 20px 0;
    padding: 80px;
    color: white;
    top: 5rem;
    font-size: 20px;
}

.logreg-box .form-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
}

.logreg-box .form-box.login{
    transform: translateX(0);
    transition: transform .6s ease;
    transition-delay: .7s;
}

.logreg-box.active .form-box.login{
    transform: translateX(600px);
    transition-delay: 0s;
}

.logreg-box .form-box.register{
    transform: translateX(600px);
    transition: transform .6s ease;
    transition-delay: 0s;
}

.logreg-box.active .form-box.register{
    transform: translateX(0);
    transition-delay: .7s;
}

.form-box h2{
    font-size: 32px;
    text-align: center;
}

.form-box .input-box{
    position: relative;
    width: 280px; /*340px*/
    height: 50px;
    border-bottom: 2px solid #e4e4e4;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    font-weight: 500;
    padding-right: 28px;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: 1.5s ease; /*Also you can use: 5s*/
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}

.form-box .remember-forgot{
    font-size: 14.5px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: white;
    margin-right: 3px;
}

.remember-forgot a{
    color: #e4e4e4;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn-sign-in{
    width: 100%;
    height: 45px;
    background: var(--clr-wine);
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.form-box .login-register{
    font-size: 14.5px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}

.login-register p a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.login-register p a:hover{
    text-decoration: underline;
}
/*Login*/


/*profile*/

.profile-container{
    position: relative;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 620px;
    transform: translate(-50%, -50%);
    background: url(../../imgs/user-profile-bg.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 2px;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info-box{
    position: relative;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    width: 80%;
    height: 400px;
    border-radius: 10px;
}

.list-group{
    display: flex;
    flex-direction: column;
    padding: 0.85rem 2.5rem;
}

.list-group-item{
    text-decoration: none;
    padding: 1.5rem;
    color: white;
    font-weight: bold;
}

.list-group-item:hover{
    text-decoration: underline;
}

.tab-content{
    display: flex;
    padding: 2rem 5rem;
    height: 100%;
    width: 350px;
    overflow: hidden;
}

.tab-content .form-box.general{
    transform: translateX(0);
    transition: transform .6s ease;
    transition-delay: .7s;
}

.tab-content.active .form-box.general{
    transform: translateX(600px);
    transition-delay: 0s;
}

.tab-content .form-box.change-password{
    transform: translateX(600px);
    transition: transform .6s ease;
    transition-delay: 0s;
}

.tab-content.active .form-box.change-password{
    transform: translateX(-280px);  /*-340*/
    transition-delay: .7s;
}

/*profile*/

/*admin*/

.login-container-admin{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    height: 620px;
    background: url(../../imgs/admin-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 2px;
}

.login-container-admin .logreg-box-admin{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    overflow: hidden;
}

.logreg-box-admin .form-box-admin{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
}

.form-box-admin h2{
    font-size: 32px;
    text-align: center;
}

.form-box-admin .input-box{
    position: relative;
    width: 280px; 
    height: 50px;
    border-bottom: 2px solid #e4e4e4;
    margin: 30px 0;
}

/*admin*/